#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid #eee;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 15px;
}

.post-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.post-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms ease-in-out;
}

.navbar {
  width: 100vw;
  padding: 0 15px;
  margin-bottom: 15px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.post-page .loader {
  margin: 0 auto;
}

.post-page h1 {
  text-align: center;
  margin: 20px 0;
}

.post-page__comment {
  margin-bottom: 15px;
}